<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Schools</title>
    <link rel="stylesheet" type="text/css"
          href="https://unpkg.com/purecss@1.0.1/build/pure-min.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.1/build/grids-responsive-min.css">
    <link rel="stylesheet" href="../styles/blog.css">
    <link rel="stylesheet" href="/styles/blog.css">

</head>
<body>

<div class="pure-g">
    <div class="sidebar pure-u-1 pure-u-md-1-4">
        <div class="header">
            <div class="brand-title">Vive</div>
            <nav class="nav">
                <ul class="nav-list">


                </ul>
            </nav>
        </div>
    </div>

        <div class="content pure-u-1 pure-u-md-3-4">
        <h2>School Listing</h2>

        <br>
        <br>
        <!--/*@thymesVar id="nextPage" type="java.lang.String"*/-->
        <a class="pure-button pure-button-primary" th:href="${nextPage}" type="submit" >
            Next Page
        </a>

        <br>
        <br>

        <table  class="pure-table">
            <tr>
                <th>Image </th>
                <th>School Name</th>
                <th>Location </th>
            </tr>
            <!--/*@thymesVar id="list" type="java.util.List<RatingResponse>"*/-->
            <tr th:each="school : ${list}"  th:class="RatingResponse">
                <td ><img th:src="${school.getImage()}" height="100" width="100"> </td>
                <td th:text="${school.getName()}">Ag Church </td>
                <td th:text="${school.getAddress()}">Ukhra </td>
            </tr>
        </table>
    </div>

    <div class="footer">
        Vive Edusoft, ${.now?string("yyyy")}
    </div>
</div>


</body>
</html>