<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Single</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="single.css">
    </head>
    
    <body>
        <img src="https://previews.123rf.com/images/olechowski/olechowski1205/olechowski120500052/13638469-career-related-words-concept-in-word-tag-cloud-on-white.jpg" class="img-fluid" alt="Responsive image">
       <div class="container">  `
           <h1>Accessory Design</h1>
        <p>
                Fashion is no longer about apparel and apparel designing. Over the time it has evolved to encompass accessories like bags, belts, jewellery, shoes and much more. This has resulted in the emergence and growth of a specialised sub-domain of the fashion – Accessory design. The field has been an upcoming career among creative minds.
        </p>
        <br>
        <p>
                Being one of the most diverse undergraduate design programmes in the country, the accessory design has a well-defined curriculum and teaching pedagogy for grooming future design professionals, training them in the area of integrated expertise in design methodology, materials and production process, consumer behavior and market dynamics, trends and forecast interpretations, business practices and project management in the field of Fashion & Lifestyle Accessories.
        </p>
        <br>
        <h1> Eligibilty Criteria</h1>
        <p>
                For pursuing a bachelor’s degree in accessory design, you should have passed class 10+2 qualifying examination from a recognised state or national board of education.
        </p>
        <br>
        <h1>Skills Required</h1>
        <br>
        <p>
                Creativity <br>Originality <br>Artistic skills<br> An eye for detail <br>Knowledge of raw materials <br>Visualisation skills <br>Precision
        </p>
        <br>
        <h1>What does accessory design include?</h1>
        <br>
        <p> The programme addresses the entire spectrum of accessories and lifestyle products, precious and costume jewellery, leather goods, footwear, watches, giftware, tableware, silverware, crystalware, office furniture, consumer interface design, automobile accessories design, and retail environment design. </p>
        <br>
        <h1>Curriculum</h1>
        <br>
        <p>Accessory Design has a well-defined curriculum for developing integrated expertise in design methodology, materials and production process, consumer behavior, market dynamics trends, forecast interpretations, business practices and project management in the field of fashion and lifestyle accessories.</p>    
        <br>
        <h1>Job Profiles</h1>
        <br>
        <p>Accessory Design programme prepares students for careers in following capacities in the broad areas of precious and costume jewellery, leather goods, giftware, tableware, watches, footwear, handicrafts, lifestyle products, etc.</p>
        <br>
        <h1>Employers</h1>
        <p>Adidas<br> Ganjam Nagappa & Sons <br>Amrapali <br>Gitanjali Jewellery Pvt. Ltd<br> Arvind Brands <br>Honda Cars <br>Bholasons Jewellers <br> Hidesign <br> Carbon <br>ITC Wills Lifestyle<br> D’damas <br>Li & Fung<br> Development Alternative <br>Liberty Shoes Ltd.<br> Episode <br> Magpie<br> FabIndia <br> </p>
        <br>
        <h1>Average salary</h1>
        <br>
        <p>Depending on the brand, company and location, an accessory design graduate can expect to earn anything between Rs.1.4 lakhs to Rs.5 lakh annually.</p>
        <br>
        <h1>Colleges offering accessory design programme (UG)</h1>
        <br>
        <p>NIFT New Delhi<br> NIFT Rae Bareli<br> NIFT Bengaluru<br> NIFT Shillong<br> NIFT Bhubaneshwar<br> NIFT Kangra <br> NIFT Bhopal<br> NIFT Gandhinagar <br>NIFT Chennai<br> NIFT Kolkata <br>NIFT Hyderabad <br> NIFT Mumbai <br>NIFT Patna</p>
    
    </div>    
    </body>