<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Aviation</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="single.css">
    </head>
    
    <body>
        <img src="https://previews.123rf.com/images/olechowski/olechowski1205/olechowski120500052/13638469-career-related-words-concept-in-word-tag-cloud-on-white.jpg" class="img-fluid" alt="Responsive image">
       <div class="container">  `
           <h1> Aviation </h1>
        <p>
            Careers in aviation offer many opportunities for advancement in piloting, engineering and mechanics, airport operations, and aircraft manufacturing. These jobs often take place in commercial airlines, private manufacturing companies, airports, and government organizations. Many aviation and aerospace manufacturing companies hire technicians and engineers to perform repairs and maintenance services on various types of aircraft before they are sold. Others may need technicians to perform tests and develop new elements for various aircraft. Those with a strong background and a degree in mathematics, science or industrial engineering may fare particularly well in aviation. Those who dream of hitting the skies can do so for a living, whether it be in the pilot’s seat or on the ground. This guide provides information about different types of jobs in the aviation field, degrees available and flight school options, career growth potential and skills needed to succeed in this field.
        </p>
        <br>
        <h1> Flight School and Aviation Career Paths </h1>
        <p>
            Aircraft Electrical Installer or Technician <br><br>
            Those interested in a job in electrical engineering can explore jobs as an aircraft electrical installer or technician. These technicians are responsible for performing tests, troubleshooting equipment and systems, and developing or modifying electric components. They typically work in an engineering department.   
            <br><br>
            Education Requirements
            <br><br>
            High school diploma and associate’s degree
            <br><br>
            Aircraft Manufacturing Engineer
            <br><br>
            Individuals with a background in engineering can serve as an aircraft manufacturing engineer. These engineers re responsible for developing and instilling different types of manufacturing systems for a certain type of aircraft, developing maintenance programs, and meeting production quotas. Some are responsible for overseeing a team of engineers on the factory floor. The job is highly technical in nature and may require extensive on-the-job training.
            <br><br>
            Education Requirements
            <br><br>
            Engineering degree
            <br><br>
            Airline Pilot
            <br><br>
            Individuals interested solely in flying different types of aircraft will enjoy a career as an airline pilot. Airline pilots must learn how to operate their aircraft, follow strict safety protocol, and accumulate a certain amount of flight hours to advance in their career. Most commercial airlines work on a ‘seniority’ basis where pilots are assigned a certain number of flying hours depending on how long they have served as a pilot. Airline pilots work their way through the system as a Captain, First Officer, and Flight Engineer. Other job options in this field include regional airline pilots and military pilots.
            <br><br>
            Education Requirements
            <br><br>
            Bachelor’s degree preferred, FAA pilot requirements
            <br><br>
            Airport Operations Manager
            <br><br>
            All major airports function as large-scale businesses and require the leadership of an experienced director or manager. The airport operations manager oversees all aspects of business management, economics, public relations, and personnel management. They may develop and enforce rules and regulations for the property, manage budgets, and train employees.
            <br><br>
            Education Requirements
            <br><br>
            Minimum of a Bachelor’s Degree in Airport Management.
            <br><br>
            Air Traffic Controller
            <br><br>
            These airport professionals work at FAA airport traffic control towers to direct all air traffic and make sure all pilots receive appropriate taxi, takeoff, and landing instructions. It is a fast-paced job during flight takeoff and landing times, and requires strong decision-making skills and sound judgment. Air traffic controllers may work at the terminal or at Air Route Traffic Control Centers (ARTCC). They are responsible for managing all communications with the pilots and providing assistance in the event of an emergency.
            <br><br>
            Education Requirements
            <br><br>
            College degree preferred plus FAA training
            <br><br>
            Aviation Maintenance Technician
            <br><br>
            Always in demand, aviation maintenance technicians are responsible for checking and preparing electric and mechanical components of an aircraft. They must comply with certain standards and perform various safety checks. This is a dynamic career with several options to specialize. Those with military experience already have valuable training that can be applied towards the FAA credits for practical experience for mechanics certification.
            <br><br>
            Education Requirements
            <br><br>
            High school diploma and FAA certification. At least 18 months work experience for an airframe, power plant, or avionics technicians certificate.
            <br><br>
            Quality Control Personnel
            <br><br>
            Those with a strong attention to detail and an interest in materials and manufacturing can enjoy a career on the factory floor as a quality control specialist. Inspectors, testers, and graders are responsible fore checking all parts and materials as they make their way down Aircraft Electrical Installer or Technician. Those interested in a job in electrical engineering can explore jobs as an aircraft electrical installer or technician. These technicians are responsible for performing tests, troubleshooting equipment and systems, and developing or modifying electric components. They typically work in an engineering department.
            <br><br>
            Education Requirements
            <br><br>
            High school diploma and associate’s degree
            <br><br>
            Aircraft Manufacturing Engineer
            <br><br>
            Individuals with a background in engineering can serve as an aircraft manufacturing engineer. These engineers re responsible for developing and instilling different types of manufacturing systems for a certain type of aircraft, developing maintenance programs, and meeting production quotas. Some are responsible for overseeing a team of engineers on the factory floor. The job is highly technical in nature and may require extensive on-the-job training.
            <br><br>
            Education Requirements
            <br><br>
            Engineering degree
            <br><br>
            Airline Pilot
            <br><br>
            Individuals interested solely in flying different types of aircraft will enjoy a career as an airline pilot. Airline pilots must learn how to operate their aircraft, follow strict safety protocol, and accumulate a certain amount of flight hours to advance in their career. Most commercial airlines work on a ‘seniority’ basis where pilots are assigned a certain number of flying hours depending on how long they have served as a pilot. Airline pilots work their way through the system as a Captain, First Officer, and Flight Engineer. Other job options in this field include regional airline pilots and military pilots.
            <br><br>
            Education Requirements
            <br><br>
            Bachelor’s degree preferred, FAA pilot requirements
            <br><br>
            Airport Operations Manager
            <br><br>
            All major airports function as large-scale businesses and require the leadership of an experienced director or manager. The airport operations manager oversees all aspects of business management, economics, public relations, and personnel management. They may develop and enforce rules and regulations for the property, manage budgets, and train employees.
            <br><br>
            Education Requirements
            <br><br>
            Minimum of a Bachelor’s Degree in Airport Management.
            <br><br>
            Air Traffic Controller
            <br><br>
            These airport professionals work at FAA airport traffic control towers to direct all air traffic and make sure all pilots receive appropriate taxi, takeoff, and landing instructions. It is a fast-paced job during flight takeoff and landing times, and requires strong decision-making skills and sound judgment. Air traffic controllers may work at the terminal or at Air Route Traffic Control Centers (ARTCC). They are responsible for managing all communications with the pilots and providing assistance in the event of an emergency.
            <br><br>
            Education Requirements
            <br><br>
            College degree preferred plus FAA training
            <br><br>
            Aviation Maintenance Technician
            <br><br>
            Always in demand, aviation maintenance technicians are responsible for checking and preparing electric and mechanical components of an aircraft. They must comply with certain standards and perform various safety checks. This is a dynamic career with several options to specialize. Those with military experience already have valuable training that can be applied towards the FAA credits for practical experience for mechanics certification.
            <br><br>
            Education Requirements
            <br><br>
            High school diploma and FAA certification. At least 18 months work experience for an airframe, power plant, or avionics technicians certificate.
            <br><br>
            Quality Control Personnel
            <br><br>
            Those with a strong attention to detail and an interest in materials and manufacturing can enjoy a career on the factory floor as a quality control specialist. Inspectors, testers, and graders are responsible fore checking all parts and materials as they make their way down the assembly line to ensure everything meets safety and quality standards. These professionals amy be involved with performing detailed tests, producing reports, and using sophisticated software and tools to perform their tasks with a high degree of accuracy.
            <br><br>
            Education Requirements
            <br><br>
            High school diploma or associate’s degree
        </p>
        
    </div>    
    </body>