<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Cabin Crew</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="single.css">
    </head>
    
    <body>
        <img src="https://previews.123rf.com/images/olechowski/olechowski1205/olechowski120500052/13638469-career-related-words-concept-in-word-tag-cloud-on-white.jpg" class="img-fluid" alt="Responsive image">
       <div class="container">  `
           <h1> Cabin Crew </h1>
        <p>
            <b>Why Make a Career in Cabin Crew?</b>
            <br><br>
            The idea of flying across the world every other day and getting paid for the same is fascinating enough to opt for cabin crew career. The fancy jet-way-of-life in this particular field is not all moonlight and roses. Cabin crew, who are also famously known Air Hostess, Flight Stewards or Flight Attendants, put extensive efforts, hard work, dedication and exhibit professionalism to make it to that level. Apart from the glamour side of cabin crew job, there are many other advantages, and room to manoeuvre in here! You only need to grab opportune moments and make the best out of it!
        </p>
        <br>
        <p> <b>We are giving you an insight on why you should explore cabin crew career.</b>
            <br><br>
            International Tours
            <br><br>
             Meeting New People
            <br><br>
            Payments and Rewards
            <br><br>
            Professional development
            <br><br>
            Constant Change

        </p>
        <h1> Salary </h1>
        <p>
            The starting package for new cabin crew is approximately $24,000 per annum. The full package can include other financial benefits, besides the basic salary, such as: Per Diem (a daily meal allowance paid when crew lay-over in other cities than their home base The starting package for new cabin crew is approximately $24,000 per annum.
        </p>
        
    </div>    
    </body>