<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Cartoonist</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="single.css">
    </head>
    
    <body>
        <img src="https://previews.123rf.com/images/olechowski/olechowski1205/olechowski120500052/13638469-career-related-words-concept-in-word-tag-cloud-on-white.jpg" class="img-fluid" alt="Responsive image">
       <div class="container">  `
           <h1> Cartoonist </h1>
        <p>
            <b>Who This Career is For?</b>
            <br><br>
            A career as a cartoonist is for people who are naturally gifted with a creative mind. Additionally, cartoonists must have the ability to draw, both by hand as well as on the computer. If you have a passion for cartoons and the ability to write and draw on a wide variety of topics, this is the perfect career choice for you! Cartoonists must have a good sense of humor. More importantly, however, they must have the ability to meet deadlines and work under immense pressure. A professional cartoonist is ideally someone who can think out of the box and constantly innovate.
        </p>
        <br>
        <h1>What are Salary Prospects ? </h1>
        <p> It is difficult to predict a salary for a cartoonist because the salary a cartoonist earns depends a lot on a number of factors. Most importantly, it depends who you are making the cartoon for. If it is likely to get reproduced in a large number of areas, the earnings can be considerable. There has been a decline in the total number of salaried cartoonists as there is an increased tendency to work as freelance artists. The average annual mean salary in USA lies at a figure around $50,000. A single freelance cartoon could fetch anywhere between $20 and $2,000 depending on where it is used.</p>
        <h1>What Perks come along with this career?</h1>
        <p>There are a number of perks that come along with a career as a cartoonist. First of all, preparing cartoons is a very specialized profession and most people involved are truly interested in what they do. The biggest advantage is normally the downright passion for the job. It is very fulfilling to be able to see the final works published and cartoonists generally experience an incomparable sense of self-satisfaction seeing their work well received by the public. This career provides people with the ability to express themselves in front of large and diverse audiences. Many cartoons are available throughout the world. If someone is naturally talented and works hard, there is a lot of room for advancement in this career path in terms of salary. While the starting salary can be quite low, if one makes it big, they will not only earn a considerable salary but may also become a household name.</p>
        <h1>Career Path</h1>
        <p> Do a full-fledged art programme at the undergraduate or postgraduate level before you apply for a job or any freelance work. Keep building up a portfolio and sending your work to editors or the design heads of newspapers or magazines who might even decide to hire you. You can also apply to publishing houses which print comic books </p>
    </div>    
    </body>