<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title> Entrepreneurship </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="single.css">
    </head>
    
    <body>
        <img src="https://previews.123rf.com/images/olechowski/olechowski1205/olechowski120500052/13638469-career-related-words-concept-in-word-tag-cloud-on-white.jpg" class="img-fluid" alt="Responsive image">
       <div class="container">  `
           <h1> Entrepreneurship </h1>
           <br>
        <p>
            Entrepreneurs start new businesses and take on the risk and rewards of being an owner. This is the ultimate career in capitalism - putting your idea to work in a competitive economy. Some new ventures generate enormous wealth for the entrepreneur. However, the job of entrepreneur is not for everyone. You need to be hard-working, smart, creative, willing to take risks and good with people. You need to have heart, have motivation and have drive.
            <br><br>
            One of the best things about pursuing a career as an entrepreneur is the wide-open possibilities. There is room in many economies throughout the globe for entrepreneurship - such as India, Brazil, Dubai, the U.S. or Kenya. There are many industries where wealth creation is possible be it the Internet and IT, personal services, media, engineering or small local business (e.g., dry cleaning, electronics repair, restaurants). But there is a downside of entrepreneurship too. Your life may lack stability and structure. Your ability to take time off may be highly limited. And you may become stressed as you manage cash flow on the one hand and expansion on the other. Three out of five new businesses in the U.S. fail within 18 months of getting started.
            <br><br>
            It's important to be savvy and understand what is and is not realistic. The web is chock-full of come-ons promising to make you rich. Avoid promotions that require you to pay up front to learn some secret to wealth. Understand that the market is more or less efficient - which means that if a bunch of people know a sure way to be a millionaire then the opportunity has probably already been competed away. On the other hand, look for inefficiencies in markets. Places where a better idea, a little ingenuity or some aggressive marketing could really make a difference. Think about problems that people would pay to have a solution to. It helps to know finance. It's a must to really know your product area well. What do consumers want? What differentiates you from the competition? How do you market this product? A formal business plan is not essential, but is normally a great help in thinking through
            the case for a new business. You'll be investing more in it than anyone else, so treat yourself like a smart, skeptical investor who needs to be convinced that the math adds up for the business you propose starting.
            <br><br>
            Entrepreneurs have many personalities. A number never finished college. Some are fiery revolutionaries. Some are gentle souls with a good idea. Some are driven but difficult. Some have grown up in the most difficult circumstances imaginable - emerging with enormous determination to strive for greatness. Others are pleasant, personable and compassionate renegades. Generally, there will be a life event, key motivator or a source of inspiration that causes a person to strike out on their own rather than work inside a larger company. Sometimes it is cubicle fatigue or, worse, getting fired. Other times it is an "aha moment" where an insight or innovation into how an industry or business could be done differently arises. Sometimes it's a bad boss.
            <br><br>
            The possibilities in entrepreneurship are endless. The rewards can be high. And the risks are undoubtedly high too. But, if you have drive, creativity and the desire to be your own boss, this may very well be the career for you.
        </p>
        
    </div>    
    </body>