<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title> Ethical Hacking </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="single.css">
    </head>
    
    <body>
        <img src="https://previews.123rf.com/images/olechowski/olechowski1205/olechowski120500052/13638469-career-related-words-concept-in-word-tag-cloud-on-white.jpg" class="img-fluid" alt="Responsive image">
       <div class="container">  `
        <h1> Ethical Hackers </h1>
           <br>
        <p>
            Use their expertise in computing and knowledge of programming, web applications, operating systems, assembly language, internet security systems etc. to protect computer systems from illegal hackers Work on the computer network of their client to find areas which are susceptible for attack Buff up the computer security system by making safety modifications to plug any loopholes and prevent it from illegal hackers Carry out penetration testing and intrusion testing for the computer network under their charge Are concerned with encryptions, security protocols and firewalls and other areas of internet security
        </p>
        <h1>
            Skills Required
        </h1>
        <br>
        <p>
            Interest in keeping abreast with the latest developments in computing <br>
            Keen observation and ability to work with details <br>
            Ability to take challenge <br>
            Adaptability and patience <br>
            Proficiency in programming in C, C++, Perl, Python, Ruby; web applications such as Microsoft .NET and PHP; operating systems such as Microsoft Windows, Linux; Assembly language <br>
            TCP/IP protocols such as SMTP, ICMP and HTTP <br>
            Analytical and logical thinking <br>
            Problem solving skills <br>
            Creativity and resourcefulness <br>
            Integrity and sincerity
        </p>
        <br>
        <h1>Employment Opportunities</h1>
        <br>
        <p>
                Financial Institutions <br>
                IT and ITES companies <br>
                All online businesses and organizations <br>
                Consultancies <br>
                Government <br>
                Diplomatic set ups <br>
                Security installations <br>
                Security agencies <br>
                Defense organizations <br>
                Telecommunication sector <br>
                Immigration services <br>
                Aviation industry <br>
                Hotels
        </p>
        
    </div>    
    </body>