<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title> Optometrists </title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="single.css">
    </head>
    
    <body>
        <img src="https://previews.123rf.com/images/olechowski/olechowski1205/olechowski120500052/13638469-career-related-words-concept-in-word-tag-cloud-on-white.jpg" class="img-fluid" alt="Responsive image">
       <div class="container">  `
        <h1> Optometrists </h1>
           <br>
        <p>
            Optometrists typically do the following: <br><br>
            Perform vision tests and analyze results <br>
            Diagnose sight problems, such as nearsightedness or farsightedness, and eye diseases, such as glaucoma <br>
            Prescribe eyeglasses, contact lenses, and other visual aids, and if state law permits, medications <br>
            Perform minor surgical procedures to correct or treat visual or eye health issues <br>
            Provide treatments such as vision therapy or low-vision rehabilitation <br>
            Provide pre- and postoperative care to patients undergoing eye surgery—for example, examining a patient's eyes the day after surgery <br>
            Evaluate patients for the presence of other diseases and conditions, such as diabetes or hypertension, and refer patients to other healthcare providers as needed <br>
            Promote eye and general health by counseling patients
        </p>
        <br>
        <p>
            Some optometrists spend much of their time providing specialized care, particularly if they are working in a group practice with other optometrists or physicians. For example, some optometrists mostly treat patients with only partial sight, a condition known as low vision. Others may focus on treating infants and children.
        </p>
        <br>
        <p> Optometrists promote eye health and counsel patients on how general health can affect eyesight. For example, they may counsel patients on how quitting smoking or losing weight can reduce vision problems. Many optometrists own their practice, and those who do may spend more time on general business activities, such as hiring employees, ordering supplies, and marketing their business. </p>
        <br>
        
    </div>    
    </body>